body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  background-color: dodgerblue;
}
header {
  text-align: center;
  color: white;
}
main {
  background-color: white;

  width: 500px;
  padding: 20px;

  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);

  margin: 0 auto;
}
input[type="number"]{
  width: 50px;
}
input[type="button"] {
  background-color: DodgerBlue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: RoyalBlue;
}

#msg{
  text-align: center;
}
footer{
  text-align: center;
  color: white;
  font-style: italic;
}